* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

.d-flex {
    display: flex;
}

.width4 {
    width: 90%;
}

.m-r2 {
    margin-right: 5%;
}

.justify-end {
    justify-content: flex-end;
}

/* .m-t{ */
/* margin-top: 1%; */
/* } */

.bg-orange {
    background-color: #ff8a2a;
    font-size: 100%;
}

.justify-content-between {
    justify-content: space-between;
}

.margin1 {
    margin: 1.5%;
}

.z-index {
    /* z-index: 3; */
    /* position: relative; */
    width: 50px;
    height: 50px;
    /* margin: right 20px;; */
}

.z-index-1 {
    position: absolute;
    z-index: 1;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    opacity: 0;
    /* visibility:hidden; */
    /* background-color: black; */
    cursor: pointer;
}

.z-index-2 {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.border-0 {
    border: none;
}

.padding-1 {
    padding: 20px;
}

.height3 {
    height: 50px;
    overflow: hidden;
    text-align: start;
}

.pading1 {
    padding: 10px;
    /* padding-bottom: 10px; */
    /* padding-bottom: 2px; */
}

.border-radius-2 {
    border-radius: 20px;
}

.z-index1 {
    /* z-index: 3; */
    position: relative;
    width: 50px;
    height: 50px;
    /* margin: right 20px;; */
}

.bg-light {
    background-color: #ffffff !important;
}

.bg-white {
    background-color: #eeeeee !important;
    /* background-color: #000 !important; */
}

.gap {
    gap: 5%;
}

.align-center {
    align-items: center;
}

.width1 {
    width: 50%;
}

.w-h {
    width: 2.8rem;
    height: 2.5rem;
}

.width-1 {
    width: 120px;
    height: 120px;
}

.margin-auto {
    margin: 0 auto;
}

.justify-content-center {
    justify-content: center;
}

.border-radius {
    border-radius: 50%;
    /* border: 1px solid green; */
    overflow: hidden;
}

.border-radius-3 {
    border-radius: 50%;
    /* border-radius : 300px 300px 300px 300px; */
    /* border: 1px solid green; */
    overflow: hidden;
}

.space-around {
    justify-content: space-around;
}

.width2 {
    width: 100%;
}

.gap1 {
    gap: 48%;
}

.arrow-size {
    font-size: 120%;
    /* font-weight: 900; */
}

.text-center {
    text-align: center;
}

.bg-blue {
    background-color: #07abea;
}

.c-blue {
    color: #07abea;
}

.borders {
    border: 9px solid #07abea;
}

.c-white {
    color: whitesmoke;
}
.m-t{
    margin-top: 7px;
}
.shadow{
    box-shadow: 1px 1px 13px 10px #07abea;
}

.height {
    height: 60px;
}

.height2 {
    height: 90%;
}

.m-l {
    margin-left: 1%;
}

.m-r {
    margin-right: 1%;
}